img {
    width: 100px;
    border-radius: 10px;
}

.cart-item-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    margin-left: 80px;
}

.remove-bnt {
    background-color: azure;
    color: black;
    transition: background-color 0.5s;
}

.remove-bnt:hover {
    background-color: #c92838;
    color: white;
}

.centered-number-input {
    text-align: center;
}

.total {
    text-align: center;
    align-items: center;
}